.container {
  display: flex;
  width: 100%;
  height: 100%;

  
}

.book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.25rem;
  padding: 2.875rem 3.125rem;
  background: var(--secondary-bg-color);
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  margin: 1rem;
  @media screen and (min-width: 800px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.cover-container {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 282px;
  width: 183px;
  filter: drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));

  .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.details-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    @media screen and (min-width: 800px) {
      align-items: flex-start;
    }
  }

  h2 {
    color: var(--secondary-font-color);
    font-weight: 500;
    line-height: 1;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .categories {
    display: flex;
    gap: 0.25rem;
    padding-top: 0.5rem;
    
    .category {
      border: 1px solid var(--border-color);
      border-radius: 1rem;
      background-color: var(--button-bg-color);
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1;
      color: var(--cta-font-color);
    }
  }
}